
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Calificaciones
    <small>descripción de calificaciones</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>    
    <li class="active">Calificaciones</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Notas Generales</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Diplomado</th>
                <th>Curso</th>
                <th>Corte 40%</th>
                <th>Corte 60%</th>
                <th>Promedio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Algoritmia y Desarrollo</td>
                <td>Matematícas</td>
                <td>3.5</td>
                <td>3</td>
                <td>3.2</td>
              </tr>
              <tr>
                <td>Algoritmia y Desarrollo</td>
                <td>Física</td>
                <td>4</td>
                <td>4.1</td>
                <td>4</td>
              </tr>
              <tr>
                <td>Algoritmia y Desarrollo</td>
                <td>Programación</td>
                <td>3.6</td>
                <td>5.5</td>
                <td>4.2</td>
              </tr>            
            </tbody>
            <tfoot>
              <tr>
                <th>Diplomado</th>
                <th>Curso</th>
                <th>Corte 40%</th>
                <th>Corte 60%</th>
                <th>Promedio</th>
              </tr>
            </tfoot>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Calificaciones por Asignatura</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Curso</th>
                <th>Asignatura</th>
                <th>Corte 40%</th>
                <th>Corte 60%</th>
                <th>Promedio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Matematicas</td>
                <td>Ecuaciones</td>
                <td>3</td>
                <td>4</td>
                <td>3.4</td>
              </tr>
              <tr>
                <td>Matematicas</td>
                <td>Teoremas</td>
                <td>4.5</td>
                <td>5</td>
                <td>4.7</td>
              </tr>
              <tr>
                <td>Programación</td>
                <td>Patrones</td>
                <td>3</td>
                <td>3</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Programación</td>
                <td>Web services</td>
                <td>3.5</td>
                <td>3</td>
                <td>3.2</td>
              </tr>
              <tr>
                <td>Fisica</td>
                <td>Lineal</td>
                <td>4</td>
                <td>3</td>
                <td>3.4</td>
              </tr>
              <tr>
                <td>Fisica</td>
                <td>Enfocada a videojuegos</td>
                <td>4</td>
                <td>2.8</td>
                <td>3.3</td>
              </tr>
              <tr>
                <td>Fisica</td>
                <td>Simulación</td>
                <td>5</td>
                <td>4.5</td>
                <td>4.7</td>
              </tr>            
            </tbody>
            <tfoot>
              <tr>
                <th>Curso</th>
                <th>Asignatura</th>
                <th>Corte 40%</th>
                <th>Corte 60%</th>
                <th>Promedio</th>
              </tr>
            </tfoot>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->
