<style>
  .case{
    margin-right: 0px;
  }
</style>
 <section class="content-header">
      <h1>
        Prototipo
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Prototipo</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="main">
        <div class="container">
            <h1> {{title}} </h1>
            <h3>{{connect.message}}</h3>
              <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#/Tema"><div class="info-box">
                  <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Tema</span>
                    <span class="info-box-number">3</span>
                  </div><!-- /.info-box-content -->
                </div></a><!-- /.info-box -->
              </div><!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#/Habilidad"><div class="info-box">
                  <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Habilidad</span>
                    <span class="info-box-number">5</span>
                  </div><!-- /.info-box-content -->
                </div></a> <!-- /.info-box -->
              </div><!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#/Formulacion"><div class="info-box">
                  <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Formulación</span>
                    <span class="info-box-number">10</span>
                  </div><!-- /.info-box-content -->
                </div></a><!-- /.info-box -->
              </div><!-- /.col -->
              <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#/Entrenamiento"><div class="info-box">
                  <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
                  <div class="info-box-content">
                    <span class="info-box-text">Entrenamiento</span>
                    <span class="info-box-number">15</span>
                  </div><!-- /.info-box-content -->
                </div></a><!-- /.info-box -->
              </div><!-- /.col -->
            </div>
            <div class="box box-primary" style="max-width:700px !important;">
                <div class="box-header with-border">
                  <h3 class="box-title">Opciones Prototipo</h3>
                </div>
                <div class="box-body">  
                    <a href="" ng-click="test()"><button class="btn btn-primary">Test</button></a> 
                    <p>{{connect.message}}</p>
                   <!-- <div class="col-md-2 case">
                        <a href="#/Tema"><button class= "btn btn-danger btn-lg">Tema</button></a>
                    </div>
                    <div class="col-md-3 case">
                        <a href="#/Habilidad"><button class="btn btn-success btn-lg">Habilidad</button></a>
                    </div>
                    <div class="col-md-3 case">
                        <a href="#/Formulacion"><button class="btn btn-warning btn-lg">Formulación</button></a>
                    </div>
                    <div class="col-md-3 case">
                        <a href="#/Entrenamiento"><button class="btn btn-success btn-lg">entrenamiento</button></a>
                    </div>-->
                </div>
              </div>
            </div>
          </div>           
    </section><!-- /.content -->
 