 <section class="content-header">
      <h1>
        {{title}} 
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">{{title}}</li>
      </ol>
</section>
    <section class="content">
      <div class="main">
        <div class="container"> 
          <div class="box box-primary" style="max-width:600px !important;">
            <div class="box-header with-border">
              <h3 class="box-title">Graficas -Profesor</h3>
            </div>            
                   <fusioncharts 
                      width="600" 
                      height="400"
                      type="column3d"
                      datasource="{{generalData}}"
                  ></fusioncharts>               
                  <p>{{connect.message}}</p>
                  <p>{{notas}}</p>
                   <fusioncharts 
                      width="600" 
                      height="400"
                      type="column2d"
                      datasource="{{generalattemptsData}}"
                  ></fusioncharts>        
          </div> 
        </div>
      </div>         
    </section>
<script>
  function reset()
   {
      document.getElementById("myForm").reset();
   }
</script>